:root {
  --primary: #be0bc1;
  --background: #01161e;
  --darkYelloAccent: #f2cc0f;
  --yellowAccent: #f2e307;
  --cyanAccent: #2dd2fb;
  --lightMagenta: #dacddb;
}

* {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

pre {
  font-size: 0.9em;
}

code,
code > span {
  font-family: "Ubuntu Mono", monospace;
}

code {
  font-size: 0.9em;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  margin-top: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
  border-bottom: 2px solid var(--primary);
  background-color: hsla(197, 96%, 6%, 0.5);
  box-shadow: 0 0.5px 20px var(--cyanAccent);
  backdrop-filter: blur(10px);
  transition: top 0.3s ease-out;
}

header > .navbar > .nav-items,
header > .navbar > a {
  display: none;
}

main {
  position: relative;
  display: block;
}

footer {
  display: block;
  border-top: 2px solid var(--yellowAccent);
  box-shadow: 0 -0.5px 20px var(--cyanAccent);
}

input,
textarea {
  position: relative;
  padding: 0.5rem 0.8rem;
  background-color: transparent;
  border: 2px solid var(--cyanAccent);
  border-radius: 5px;
  box-shadow: 0 -1px 2px var(--primary), 1px 0 2px var(--primary),
    0 1px 2px var(--primary), -1px 0 2px var(--primary);
  outline: none;
}

#contact-me {
  position: relative;
  isolation: isolate;
}

#contact-me::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10rem;
  left: 5rem;
  height: 8rem;
  width: 8rem;
  background-color: var(--yellowAccent);
  border-radius: 100%;
}

#contact-me::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 20rem;
  left: 8rem;
  height: 10rem;
  width: 10rem;
  background-color: var(--cyanAccent);
  border-radius: 100%;
}

#contact-form {
  display: block;
  width: 100%;
  background-color: hsla(197, 94%, 6%, 0.3);
  border: 3px solid var(--primary);
  border-radius: 10px;
  box-shadow: 0 -3px 5px var(--cyanAccent), 3px 0 5px var(--cyanAccent),
    0 3px 5px var(--cyanAccent), -3px 0 5px var(--cyanAccent),
    0 0 10px var(--lightMagenta) inset;
  backdrop-filter: blur(56px);
}

#contact-form button {
  width: fit-content;
  padding: 0.3rem 1rem;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--lightMagenta);
  background-color: var(--cyanAccent);
  border: 2px solid transparent;
  border-radius: 5px;
  box-shadow: 4px 4px var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 2px 3px var(--primary);
  transition: transform 0.03s ease-out;
}

#contact-form input {
  width: calc(100% - 2rem);
  color-scheme: dark;
}

#contact-form input[type="date"] {
  resize: none;
}

#contact-form input[type="radio"] {
  width: auto;
  border-color: transparent;
  box-shadow: none;
}

#contact-form button:hover {
  cursor: pointer;
  color: var(--yellowAccent);
  background-color: transparent;
  border-color: var(--primary);
  box-shadow: 0 0 5px var(--cyanAccent) inset;
  transform: translate(2px, 2px);
}

#contact-form button:active {
  transform: translate(2px, 2px) scale(95%);
}

#contact-form input,
#contact-form textarea {
  color: var(--lightMagenta);
  resize: vertical;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: var(--yellowAccent);
  box-shadow: 0 0 5px var(--lightMagenta) inset;
}

#contact-me .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

#contact-me-form {
  width: 100%;
}

#contact-me-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 3rem);
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--cyanAccent);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--lightMagenta) inset;
  backdrop-filter: blur(10px);
}

.message-view {
  display: grid;
  grid-template-columns: 1fr 0.5rem 60%;
  align-items: start;
}

.message-view p {
  margin: 0;
}

.message-view strong {
  margin-left: 0.5rem;
  overflow-wrap: break-word;
}

.message-view p,
.message-view span,
.message-view strong {
  color: var(--lightMagenta);
}

#footer-links {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

#footer-links h2 {
  color: var(--lightMagenta);
  font-size: 1.2rem;
}

#footer-links a,
#footer-links span,
#footer-links p {
  color: var(--lightMagenta);
  text-decoration: none;
}

#footer-links p {
  margin: 0;
}

#footer-links a {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  gap: 0.2rem;
}

#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: fit-content;
  background: url("../assets/city-nights.jpg") no-repeat bottom center;
  background-size: cover;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  background: linear-gradient(180deg, var(--background), transparent);
}

#hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: linear-gradient(0deg, var(--background), transparent);
}

#mobile-nav {
  position: absolute;
  top: -18rem;
  left: 0;
  right: 0;
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  box-shadow: 0 0.5px 20px var(--cyanAccent);
  transition: top 0.3s ease-out;
}

#mobile-nav > .nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

#mobile-nav > .nav-items > li {
  display: block;
  width: 100%;
}

#mobile-nav > .nav-items > li > a {
  display: grid;
  place-items: center;
  padding: 1rem 0;
}

#my-links {
  display: flex;
  flex-direction: column;
}

#nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(197, 96%, 6%, 0.9);
  visibility: hidden;
  animation: hide 1s infinite;
}

#nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 12;
  gap: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1rem 0.2rem;
  border: 2px solid transparent;
  border-radius: 6px;
}

#nav-button > span {
  width: 100%;
  height: 3px;
  background-color: var(--lightMagenta);
  border-radius: 2px;
}

#nav-button:hover {
  cursor: pointer;
}

#recent-works .container {
  padding-top: 2rem;
}

#works-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.works-card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  border: 2px solid var(--cyanAccent);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary), 0 0 20px var(--lightMagenta);
}

.works-card span {
  position: absolute;
  display: block;
}

.works-card:hover {
  border-color: transparent;
}

.works-card:hover span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, var(--primary));
  animation: card-anim1 1.5s linear infinite;
}

.works-card:hover span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--cyanAccent));
  animation: card-anim2 1.5s linear infinite 0.375s;
}

.works-card:hover span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, var(--primary));
  animation: card-anim3 1.5s linear infinite 0.75s;
}

.works-card:hover span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--cyanAccent));
  animation: card-anim4 1.5s linear infinite 1.125s;
}

.works-card > img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 10px var(--primary);
  object-fit: cover;
}

.works-description {
  padding: 0.5rem 1rem;
}

.works-description > h3,
.works-description > p {
  color: var(--lightMagenta);
}

.works-links {
  display: inline-flex;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
}

.works-links a {
  text-decoration: none;
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: border 0.3s ease-out, box-shadow 0.5s ease-out;
}

.works-links a:hover {
  border: 2px solid var(--primary);
  box-shadow: 0 0 10px var(--yellowAccent);
}

.contact-form-container {
  display: grid;
  gap: 1rem;
  padding: 1.5rem 1rem 2rem 1rem;
}

.code-container {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  margin-top: 2rem;
  background-color: hsla(197, 94%, 6%, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  animation: hide 1s, code-popup 1s ease-out 1s;
  box-shadow: 0 0 5px var(--lightMagenta) inset, 0 0 10px var(--cyanAccent);
}

.code-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 2 / 13;
}

.code-content > pre > code {
  display: inline-flex;
  overflow: hidden;
}

.code-content > pre > code:nth-child(1) {
  animation: hide 2s, typing 3s steps(40, end) 2s;
}

.code-content > pre > code:nth-child(2) {
  animation: hide 3.4s, typing 3s steps(40, end) 3.4s;
}

.code-content > pre > code:nth-child(3) {
  animation: hide 5.8s, typing 3s steps(40, end) 5.8s;
}

.code-content > pre > code:nth-child(4) {
  animation: hide 6.8s, typing 3s steps(20, end) 6.8s;
}

.code-content > pre > code:nth-child(5) {
  animation: hide 7.8s, typing 3s steps(40, end) 7.8s;
}
.code-content > pre > code:nth-child(6) {
  animation: hide 8.5s, typing 3s steps(40, end) 8.5s;
}
.code-content > pre > code:nth-child(7) {
  animation: hide 9.5s, typing 3s steps(40, end) 9.5s;
}
.code-content > pre > code:nth-child(8) {
  animation: hide 10.8s, typing 3s steps(40, end) 10.8s;
}
.code-content > pre > code:nth-child(9) {
  animation: hide 11.8s, typing 3s steps(40, end) 11.8s;
}

.code-content > pre > code:nth-child(10) {
  animation: hide 13.2s, typing 3s steps(40, end) 13.2s;
}

.code-content > pre > code:nth-child(11) {
  animation: hide 14s, typing 3s steps(40, end) 14s;
}

.code-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--background);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid var(--lightMagenta);
}

.code-number {
  color: var(--darkYelloAccent);
}

.code-brackets {
  color: var(--yellowAccent);
}

.code-variable {
  color: #d946ef;
}

.code-string {
  color: var(--cyanAccent);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 1.5rem);
  margin: auto;
  padding: 2.5rem 0;
}

.container h2 {
  width: 100%;
  margin-bottom: 2rem;
  color: var(--lightMagenta);
  font-size: 1.6em;
  text-shadow: 2px 2px var(--primary), -1px -1px var(--cyanAccent);
  text-decoration: underline;
  text-align: center;
}

.filename {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  color: var(--lightMagenta);
  background-color: #1e293b;
  border-radius: 3px;
}

.footer-container {
  position: relative;
  width: calc(100% - 3rem);
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-container > span {
  position: absolute;
  inset: auto auto 0.5rem 0;
  display: inline-block;
  width: 100%;
  color: var(--lightMagenta);
  text-align: center;
  font-size: 0.9em;
}

.form-group {
  display: grid;
  gap: 0.2rem;
  color: var(--lightMagenta);
}

.form-group label {
  width: fit-content;
  color: var(--lightMagenta);
  font-weight: 500;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5rem auto auto auto;
  padding: 0 0 9rem 0;
  width: calc(100% - 3rem);
  gap: 0.5rem;
}

.hero-content > h1 {
  margin: 0;
  overflow: hidden;
  color: var(--yellowAccent);
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 2px 2px var(--cyanAccent), 0 0 10px var(--lightMagenta);
  white-space: nowrap;
  animation: code-popup 1s ease-out;
}

.hero-content > p {
  margin: 0;
  color: var(--cyanAccent);
  font-family: "Rajdhani", sans-serif;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-style: italic;
  text-shadow: 2px 2px var(--primary), 0 0 10px var(--lightMagenta);
  animation: code-popup 1s ease-out;
}

.hero-cta {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: fit-content;
  margin-top: 3rem;
  padding: 0.5rem 3rem;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 6px;
  color: var(--lightMagenta);
  background: var(--cyanAccent);
  box-shadow: 5px 5px var(--primary), 0 0 10px var(--lightMagenta);
  text-shadow: 2px 4px var(--primary);
  text-decoration: none;
  transition: transform 0.03s ease-out, box-shadow 0.3s ease-out;
  animation: hide 2s, code-popup 1s ease-out 2s;
}

.hero-cta:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 40px var(--lightMagenta);
}

.hero-cta:active {
  transform: translate(3px, 3px) scale(98%);
}

.hero-nav {
  isolation: isolate;
  display: none;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.hero-nav > a > svg {
  margin: 0;
}

.hero-nav > a,
.navbar > a {
  width: 24pxt;
  height: 24px;
  padding: 0;
  margin-left: auto;
  text-decoration: none;
  border-radius: 100%;
  box-shadow: 0 0 10px var(--lightMagenta);
}

.hero-nav > a #SVGRepo_iconCarrier,
.navbar > a #SVGRepo_iconCarrier {
  fill: var(--cyanAccent);
}

.hero-nav > a:hover #SVGRepo_iconCarrier,
.navbar > a:hover #SVGRepo_iconCarrier {
  fill: var(--yellowAccent);
}

.hero-nav > h1 {
  grid-column: 1;
}

.invalid-message {
  display: none;
  color: #ef4444;
}

.mac-btns {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  border-right: 1px solid var(--lightMagenta);
}

.mac-btns > span {
  height: 14px;
  width: 14px;
  background-color: #ef4444;
  border-radius: 100%;
}

.mac-btns > span:nth-child(2) {
  background-color: #eab308;
}

.mac-btns > span:nth-child(3) {
  background-color: #22c55e;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.navbar > h1,
.hero-nav h1 {
  font-size: 2em;
  line-height: 0.5em;
  font-weight: 700;
  text-shadow: 2px 2px var(--lightMagenta), 0 0 10px var(--lightMagenta);
}

.navbar > h1 span:nth-child(2),
.hero-nav h1 span:nth-child(2) {
  color: var(--cyanAccent);
}

.navbar > h1 span:nth-child(3),
.hero-nav h1 span:nth-child(3) {
  color: var(--yellowAccent);
}

.nav-items {
  display: flex;
  grid-column: 2 / 12;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  gap: 0.5rem;
}

.nav-items > li > a {
  padding: 0.1rem 1rem;
  color: var(--cyanAccent);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 0 10px var(--lightMagenta);
}

.nav-items > li > a:hover {
  color: var(--yellowAccent);
  border-color: var(--cyanAccent);
}

.radio-group {
  display: flex;
}

@media screen and (min-width: 321px) {
  .container {
    width: calc(100% - 3rem);
  }
}

@media screen and (min-width: 768px) {
  body {
    margin-top: 0;
  }

  header {
    top: -7rem;
  }

  header > .navbar > .nav-items {
    display: flex;
  }

  header > .navbar > a {
    display: block;
  }

  #hero {
    min-height: calc(100vh - 0.6rem);
  }

  #hero::before {
    height: 8rem;
  }

  #hero::after {
    height: 3rem;
  }

  #nav-button {
    display: none;
  }

  #contact-me::before {
    top: 14rem;
    left: 4rem;
    width: 16rem;
    height: 16rem;
  }

  #contact-me::after {
    top: 30rem;
    left: 8rem;
    width: 14rem;
    height: 14rem;
  }

  #contact-me .container {
    display: grid;
    grid-template-columns: 50% calc(50% - 2rem);
    gap: 2rem;
    margin: 0 auto;
  }

  #contact-me-result {
    margin-top: 6rem;
  }

  #footer-links {
    grid-template-rows: none;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
  }

  #my-links {
    grid-column: 1 / 5;
  }

  #revou-tribute {
    grid-column: 5 / 7;
  }

  #works-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  #works-container .works-card:nth-child(3) {
    transform-origin: top left;
    transform: translateX(calc(50% + 1rem));
  }

  .footer-container {
    width: calc(100% - 6rem);
  }

  .works-card {
    grid-template-rows: 1fr 1fr;
  }

  .code-container {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    top: -1rem;
    right: 0;
    bottom: 0;
    width: 45%;
  }

  .container {
    width: calc(100% - 6rem);
    padding: 4rem 0;
  }

  .container h2 {
    font-size: 1.8em;
    text-align: left;
  }

  .hero-cta {
    bottom: 1rem;
    left: 0;
    width: fit-content;
    font-size: 2em;
    font-weight: 700;
    margin-top: 0;
    padding: 0.5rem 3rem;
  }

  .hero-nav {
    display: grid;
    width: calc(100% - 6rem);
  }

  .hero-content {
    display: grid;
    grid-template-rows: 1fr 1fr 4rem;
    width: calc(100% - 6rem);
    margin: auto;
    padding: 0;
  }

  .hero-content > h1 {
    font-size: 3.5em;
  }

  .hero-content > p {
    font-size: 2.5em;
  }

  .navbar {
    width: calc(100% - 6rem);
  }
}

@media screen and (min-width: 1024px) {
  pre {
    font-size: 1em;
  }

  code {
    font-size: 1em;
  }

  #contact-me::before {
    top: 14rem;
    left: 8rem;
    width: 16rem;
    height: 16rem;
  }

  #contact-me::after {
    top: 22rem;
    left: 24rem;
    width: 14rem;
    height: 14rem;
  }

  #contact-me .container {
    grid-template-columns: 60% calc(40% - 2rem);
    gap: 2rem;
    margin: 0 auto;
  }

  #works-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  #works-container .works-card:nth-child(3) {
    transform: translateX(0);
  }

  .footer-container {
    width: calc(100% - 8rem);
  }

  .works-card {
    grid-template-rows: 1fr 1fr;
  }

  .container {
    width: calc(100% - 8rem);
  }

  .container > h2 {
    text-align: left;
  }

  .hero-nav {
    width: calc(100% - 8rem);
  }

  .hero-content {
    width: calc(100% - 8rem);
  }

  .navbar {
    width: calc(100% - 8rem);
  }
}

@media screen and (min-width: 1280px) {
  pre {
    font-size: 1.1em;
  }

  code {
    font-size: 1.1em;
  }

  #contact-me::before {
    top: 12rem;
    left: 14rem;
    width: 16rem;
    height: 16rem;
  }

  #contact-me::after {
    top: 22rem;
    left: 28rem;
    width: 14rem;
    height: 14rem;
  }

  #contact-me .container {
    grid-template-columns: 50% calc(50% - 2rem);
    gap: 2rem;
    margin: 0 auto;
  }

  .container {
    width: calc(100% - 20rem);
  }

  .footer-container {
    width: calc(100% - 20rem);
  }

  .hero-nav {
    width: calc(100% - 20rem);
  }

  .hero-content {
    width: calc(100% - 20rem);
  }

  .hero-content > h1 {
    font-size: 4em;
  }

  .hero-content > p {
    font-size: 3em;
  }

  .navbar {
    width: calc(100% - 20rem);
  }
}

@media screen and (min-width: 1536px) {
  #contact-me::before {
    top: 14rem;
    left: 20rem;
    width: 18rem;
    height: 18rem;
  }

  #contact-me::after {
    top: 28rem;
    left: 28rem;
    width: 16rem;
    height: 16rem;
  }

  .container {
    width: calc(100% - 30rem);
  }

  .footer-container {
    width: calc(100% - 30rem);
  }

  .hero-nav {
    width: calc(100% - 30rem);
  }

  .hero-content {
    width: calc(100% - 30rem);
  }

  .hero-content > h1 {
    font-size: 4em;
  }

  .hero-content > p {
    font-size: 3em;
  }

  .navbar {
    width: calc(100% - 30rem);
  }
}

@media screen and (min-width: 1920px) {
  #contact-me::before {
    top: 14rem;
    left: 30rem;
    width: 18rem;
    height: 18rem;
  }

  #contact-me::after {
    top: 28rem;
    left: 40rem;
    width: 16rem;
    height: 16rem;
  }

  .container {
    width: calc(100% - 52rem);
  }

  .footer-container {
    width: calc(100% - 52rem);
  }

  .hero-nav {
    width: calc(100% - 52rem);
  }

  .hero-content {
    width: calc(100% - 52rem);
  }

  .hero-content > h1 {
    font-size: 4em;
  }

  .hero-content > p {
    font-size: 3em;
  }

  .navbar {
    width: calc(100% - 52rem);
  }
}

@keyframes code-popup {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes conceal {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary);
  }
}

@keyframes hide-caret {
  from,
  to {
    border-color: transparent;
  }
}

@keyframes card-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes card-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes card-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes card-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}
